body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#color-picker-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

input[type="color"] {
  position: absolute;
  margin-top: 50px;
  height: 40px;
}

button {
  margin-top: 6%;
  font-size: 25px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 8px;
}
